/* any css class defined here are global, not specific to component, unlike angular css */
.App {
  text-align: center;
}

.purple {
  /*color: ""#e91e63";*/
  color: #673ab7;
}

.bold {
  font-weight: bold;
}
